*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.title{
	position: absolute;
	top: 0;
	font-size: 4rem;
	z-index: 2;
}

.score{
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 70px;
	z-index: 1;
}

.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}

.options{
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.rock, .paper, .scissor{
	padding: 0.8rem;
	outline: none;
	border: none;
	cursor: pointer;
    height: 100px;
    font-size: 50px;
    width: 100px;
    border-radius: 50%;
}

.result{
	font-size: 1.2rem;
}